<%- include('../layout/header') %>
<%- include('../layout/nav') %>
<div>文章</div>
<div>文章</div>
<div>文章</div>
<div>文章</div>
<div>文章</div>
<div>文章</div>
<div>文章</div>

<%- include('../layout/footer') %>
<script>
$(function(){

})
</script>