<%- include('../layout/header') %>
<%- include('../layout/nav') %>

<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="section-title">
                    <h3>lastest Blogs</h3>
                    <h2>The creative web & mobile studio and focused on brand identity, web development and social
                        marketing.</h2>
                </div>

                <div class="article-container">
                </div>

            </div>

        </div>
    </div>

    <div class="blog-post-thumb-modal" style="display:none">
        <div class="blog-post-title">
            <h3><a href="article" id="title">title</a></h3>
        </div>
        <div class="blog-post-format">
            <span><i class="fa fa-date" id="creteDateTime"></i>2019-01-01</span>
            <span><a href="#"><i class="fa fa-comment-o"></i>23评论</a></span>
        </div>
        <div class="blog-post-des" id="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu
                fugiat nulla pariatur.</p>
            <a href="single-post.html" class="btn btn-default">阅读</a>
        </div>
    </div>
</section>
<%- include('../layout/footer') %>
<script>
    $(function () {
        $.ajax({
            url: "article/getList",
            success: (resp) => {
                let el = $(".blog-post-thumb-modal"), content = [];
                if (resp) {
                    resp.map((data, index) => {
                        el.find("#title").text(data.title);
                        el.find("#creteDateTime").text(data.creteDateTime);
                        el.find("#content").text(data.article);
                        content.push(el.html())
                    })
                }

                let html = content.join("</br>");
                $(".article-container").html(html);
                $(".article-container").find("blog-post-thumb-modal").css("display", "block");
            }
        })
    })
</script>