<%- include('../layout/header') %>
<%- include('../layout/nav') %>

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="article-container">
                </div>
            </div>
        </div>
    </div>

    <div class="blog-post-thumb-modal" style="display:none">
    </div>
</section>
<%- include('../layout/footer') %>
<script>
    $(function () {
        function getTemplate(data) {
            var content = `
                <div class="blog-post-thumb-modal">
                    <div class="blog-post-title">
                        <h3><a href="article">${data.title}</a></h3>
                        <div class="blog-post-format">
                            <span><i class="fa fa-date"></i>${data.createdDateTime}</span>
                            <span><a href="#"><i class="fa fa-comment-o"></i>23留言</a></span>
                        </div>
                    </div>
                </div>
            `
            return content;
        }

        $.ajax({
            url: "article/getList",
            success: (resp) => {
                let content = [];
                if (resp) {
                    resp.map((data, index) => {
                        content.push(getTemplate(data))
                    })
                }

                let html = content.join("</br>");
                $(".article-container").html(html);
            }
        })
    })
</script>