<%- include('../layout/header') %>
<%- include('../layout/nav') %>

<section id="contact">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="section-title">
                         <h3>Contact Infomation</h3>
                    </div>

                    <form action="#" method="post">
                         <div class="col-md-6 col-sm-6">
                              <input type="text" class="form-control" placeholder="Name">
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" placeholder="Email">
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <input type="telephone" class="form-control" placeholder="Phone Number">
                         </div>
                         <div class="col-md-12 col-sm-12">
                              <textarea class="form-control" rows="5" placeholder="Note"></textarea>
                         </div>
                         <div class="col-md-3 col-sm-4">
                              <input type="submit" class="form-control" value="Send Message">
                         </div>
                    </form>
               </div>

          </div>
     </div>
</section>
<%- include('../layout/footer') %>