<%- include('../layout/header') %>
<%- include('../layout/nav') %>

<div class="edit-container">
    <button type="button" class="btn btn-primary save-btn">保存</button>
    <div class=" form-group title-item">
        <label for="title">标题</label>
        <input class="form-control" placeholder="" name="title">
    </div>
    <div id="myEditor">

    </div>
</div>

<%- include('../layout/footer') %>

<script type="text/javascript" charset="utf-8" src="/js/wEditor/wangEditor.min.js"></script>
<script>
    $(function () {
        const editor = new window.wangEditor('#myEditor');
        editor.customConfig.uploadImgServer = '/upload/image';
        editor.customConfig.uploadFileName = 'imageFile';
        editor.customConfig.customAlert = function (info) {
            // info 是需要提示的内容
            console.log('自定义提示：' + info)
        }
        editor.create()
    })
</script>