<%- include('../layout/header') %>
<%- include('../layout/nav') %>

<!-- Home Section -->

<section id="home">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h2>改完这个bug我就下班</h2>
                <hr>
            </div>

        </div>
    </div>
</section>

<!-- Portfolio Section -->
<!-- <section id="portfolio">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img1.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Brand Identity</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img2.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Web Development</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img3.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Mobile App</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img4.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Logo Design</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img5.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Social marketing</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img6.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Fyler Design</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 col-sm-12 text-center">
                <h3>hello, if you interest working together. just send message <a href="contact">contact page</a></h3>
            </div>

        </div>
    </div>
</section> -->

<%- include('../layout/footer') %>