<%- include('../layout/header') %>
<%- include('../layout/nav') %>

<!-- Home Section -->

<section id="home">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="blur-container-top""></div>
                <div class=" blur-container-bottom""></div>
                <div class="index-content">
                    <div class="index-content-in">
                        <p>改完这个bug我就下班</p>
                        <p>这个需求提到日程上</p>
                        <p>我本地看没问题啊?</p>
                        <p>清个缓存试试</p>
                        <p>改完这波肯定没bug了</p>
                        <p>这是个小改动,直接发线上吧</p>
                        <p>Object not found</p>
                        <p>人生一大错觉:github上的代码都是能跑起来的</p>
                        <p>带薪编译</p>
                        <p>这不是bug,是feature</p>
                        <p>截止到今天,还没有一个90后程序员活过30岁</p>
                        <p>命名不规范,同事两行泪</p>
                        <p>mysql从入门到删库</p>
                    </div>
                </div>
                <hr>
            </div>

        </div>
    </div>
</section>

<!-- Portfolio Section -->
<!-- <section id="portfolio">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img1.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Brand Identity</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img2.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Web Development</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img3.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Mobile App</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img4.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Logo Design</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img5.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Social marketing</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="single-project">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img6.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>Project Name</h3>
                                <small>Fyler Design</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 col-sm-12 text-center">
                <h3>hello, if you interest working together. just send message <a href="contact">contact page</a></h3>
            </div>

        </div>
    </div>
</section> -->

<%- include('../layout/footer') %>
<script>
    // $(function(){
    //     let top = 0;
    // setInterval(() => {
    //     $("index-content-in").css("top")
    // }, 100)
    // })
    
</script>