<%- include('../layout/header') %>
<%- include('../layout/nav') %>

<div class="logAnalysis-container">

    <div class="form-group">
        <span for="problemType">问题类型:</span>
        <select class="form-control" id="problemType" style="width: 40%;display: inline-block;">
            <option value="miss">打印漏单</option>
            <option value="repeat">重复打印</option>
            <option value="outOfOrder">打印乱序</option>
            <option value="getMissOrder">获取漏单单号</option>
        </select>
    </div>

    <div class="form-group">
        <span>日志文件: </span>
        <input type="file" id="logInputFile" style="width: 40%;display: inline-block;">
    </div>

    <div class="form-group">
        <span>开始时间: </span>
        <input id="startDate" name="startDate" type="date" class="form-control"
            style="width: 40%;display: inline-block;">
        <input id="startTime" name="startTime" type="time" class="form-control"
            style="width: 40%;display: inline-block;">
    </div>

    <div class="form-group">
        <span>结束时间: </span>
        <input id="endDate" name="endDate" type="date" class="form-control" style="width: 40%;display: inline-block;">
        <input id="endTime" name="endTime" type="time" class="form-control" style="width: 40%;display: inline-block;">
    </div>

    <div class="form-group">
        <span>漏单运单号: </span>
        <input id="sids" class="form-control" style="width: 40%;display: inline-block;">
    </div>


    <a class="btn btn-primary" id="submit">提交</a>
</div>

<%- include('../layout/footer') %>

<script>
    $(function () {
        $("title").text("日志收集");

        $("#submit").click((event) => {
            let formData = new FormData();

            // let obj = {
            //     problemType: $("#problemType").val(),
            //     startDate: `${$("#startDate").val()} ${$("#startTime").val()}`,
            //     endDate: `${$("#endDate").val()} ${$("#endTime").val()}`,
            //     sids: $("#sids").val(),
            // }

            //测试用数据
            let obj = {
                problemType: "repeat",
                startDate: "2019-09-26 09:26:57",
                endDate: "2019-09-26 09:28:01",
                sids: "773005867153821,TT6600335296334,4301047115632",
            }

            formData.append("file", $("#logInputFile")[0].files[0]); //传给后台的file的key值是可以自己定义的
            formData.append("data", JSON.stringify(obj));
            $.ajax({
                type: "POST",
                url: "/upload/log",
                processData: false,
                contentType: false,
                data: formData,
                success: (resp) => {
                    console.log(resp)
                }
            })
        })
    })
</script>