<%- include('../layout/header') %>
<%- include('../layout/nav') %>

<div class="manage-container">
    <button type="button" class="btn btn-primary add-btn" style="float: right;">新增</button>
    <p class="manage-title">文章列表</p>
    <div class="list-group manage-list-group" id="content-nav">
    </div>
</div>>

<%- include('../layout/footer') %>
<script>
    $(function () {
        function getTemplate(data) {
            var content = `
                <p class="list-group-item">
                    <span>${data.title}</span>
                    <span class="" style="float: right">
                        <button type="button" class="btn btn-primary btn-edit" data-id="${data._id}">编辑</button>
                        <button type="button" class="btn btn-danger btn-remove" data-id="${data._id}">删除</button>
                    </span>
                </p>
            `
            return content;
        }

        $.ajax({
            url: "manage/getList",
            type: "get",
            success: (resp) => {
                let content = [];
                resp.map((data, index) => {
                    content.push(getTemplate(data));
                })
                $('#content-nav').html(content.join(""));
            }
        })

        $(".add-btn").click(() => {
            window.location.href = "/edit";
        })

        $(document).on("click", ".btn-remove", function () {
            let _this = this;
            let params = {
                _id: $(this).attr("data-id")
            }
            $.ajax({
                url: "article/removeArticle",
                type: "post",
                data: params,
                success: (resp) => {
                    _this.closest(".list-group-item").remove();
                }
            })
        })

        $(document).on("click", ".btn-edit", function () {
            window.location.href = `/edit?_id=${$(this).attr("data-id")}`;
        })
    })
</script>