<%- include('../layout/header') %>
    <form action="/users/register/create" method="POST">
        <p><label for="name">用户名</label><input type="text" name="name" id="name" value="admin"></p>
        <p><label for="password">密码</label><input type="text" name="password" id="password" value="123456"></p>
        <input type="submit" value="提交" />
    </form>
<%- include('../layout/footer') %>